{% extends "base.html" %} {% block content %} {{super()}}
<h1>{{name}}</h1>
<div class="recipe-notes-container">
  <div class="left">
    <img src="{{image}}" alt="image of {{name}}" />
    <div class="ingredient-instruction-container">
      <div class="ingredient">
        <h3>Ingredients</h3>
        <ul>
          {% for ingredient in ingredients %}
          <li>{{ingredient}}</li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <h3>Instructions</h3>
        <p>{{instructions}}</p>
      </div>
    </div>
  </div>
  <div class="right">
    <form action="/add_recipe_action" method="POST">
      <input type="hidden" name="id" value="{{id}}" />
      <input type="hidden" name="name" value="{{name}}" />
      <input type="hidden" name="image" value="{{image}}" />
      <input type="hidden" name="user_id" value="{{userid}}" />
      {% if username == None %}
      <p><a href="/login">Log in to save your favourite recipes</a></p>
      {% else %}
      <p><label>Rating</label></p>
      <p>{% include "rating.html" %}</p>
      <p><label>Notes</label></p>
      <textarea name="notes" id="notes"></textarea>

      <input type="submit" value="Add Notes" />
      {% endif %}
    </form>
  </div>
</div>
{% endblock %}
