{% extends "base.html" %} {% block content %} {{super()}}
<h1>Drinksky</h1>
<div class="search-container">
  <form action="/search_name" , method="POST">
    <label>Cocktail <input type="text" name="drink" id="name-text" /></label>
    <input type="submit" value="Search" />
  </form>
  <form action="/search_ingredient" , method="POST">
    <label for=""
      >Main ingredient
      <input type="text" name="ingredient" id="ingredient-text"
    /></label>
    <input type="submit" value="Search" />
  </form>
  <form action="/search_random" , method="POST">
    <input type="submit" name="" value="Surprise Me" />
  </form>
</div>
<div>
  <ul class="recipes">
    {% for recipe in recipes %}
    <li>
      <img src="{{recipe[2]}}" alt="image of {{recipe[1]}}" />
      {% if username != None %} {% if recipe[0] in my_recipes %}
      <p><a href="/drinks/{{recipe[1]}}">{{recipe[0]}}</a><a href="/delete_recipe/{{recipe[1]}}"><button>Delete</button></a></p>
      <p>
         You and
        {{recipe[3]-1}} others have made this

        
        {% else %} 
        <p><a href="/drinks/{{recipe[1]}}">{{recipe[0]}}</a></p>
        <p>Try this! {{recipe[3]}} people have made this. </p>{% endif %} 
        {% else%} 
        <p><a href="/drinks/{{recipe[1]}}">{{recipe[0]}}</a></p>
        <p>{{recipe[3]}} people have made this </p>{% endif %}
      </p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
