{% extends "base.html" %} {% block content %} {{super()}}
<h1>{{username}}'s Favourite Cocktails</h1>
<div>
  <ul class="recipes">
    {% for recipe in recipes %}
    <li>
      <a href="/edit_recipe/{{recipe[1]}}"
        ><img src="{{recipe[2]}}" alt="image of {{recipe[1]}}"
      /></a>
      <p>
        <label id="rating-display">
          {% for i in range(0, recipe[3]) %}
          <span class="icon material-symbols-outlined">local_bar</span>{% endfor
          %}
        </label>
      </p>
      <p>
        <a href="/edit_recipe/{{recipe[1]}}">{{recipe[0]}}</a
        ><a href="/delete_recipe/{{recipe[1]}}"><button>Delete</button></a>
      </p>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
