<div class="rating">
  <label>
    <input type="radio" name="rating" value="1" />
    <span class="icon material-symbols-outlined">local_bar</span>
  </label>
  <label>
    <input type="radio" name="rating" value="2" />
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
  </label>
  <label>
    <input type="radio" name="rating" value="3" />
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
  </label>
  <label>
    <input type="radio" name="rating" value="4" />
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
  </label>
  <label>
    <input type="radio" name="rating" value="5" />
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
  </label>
  <label>
    <input type="radio" name="rating" value="6" />
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
  </label>
  <label>
    <input type="radio" name="rating" value="7" />
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
  </label>
  <label>
    <input type="radio" name="rating" value="8" />
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
  </label>
  <label>
    <input type="radio" name="rating" value="9" />
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
  </label>
  <label>
    <input type="radio" name="rating" value="10" />
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
    <span class="icon material-symbols-outlined">local_bar</span>
  </label>
</div>
